<% if !session[:user_id] %>
<a href="/registration/">Register</a>


<form method="post" action="/login/">

      <label for="username">Username</label>
      <input type="text" name="username" id="username"/>

      <label for="password">Password</label>
      <input type="password" name="password" id="password"/>

      <input type="submit" value="Login"/>

</form>

<% else %>

<p>Welcome, <%= username %>!</p>

<h3>Other Fish Enthusiasts</h3>
  <ul>
    <% @user_arr.each do |username| %>
    <li><%= username %></li>
      <% end %>
  </ul>

<a href="/logout/">Logout</a>

<% end %>